 <% if can?  :create, Group %>
<%= link_to"New Group", new_user_group_path(current_user)%>

<% end %>
<div style=" display: flex; flex-wrap: wrap; flex-direction:row;">
<% @group.each do |group| %>

    <div style=" flex: 0 0 21.33%;margin: 20px; border: 2px black solid;display: flex; flex-direction:column; justify-content: center;align-items: center">
    

    <%= link_to group.name, user_group_path(current_user,group) ,class: "G_Name" %>
    
     <p style="margin-left:20px">
    
      
       </p>

    

    
     
     <% if group.id != 2 && group.id != 3 %>
     <%= image_tag(group.image,style:"width:250px; height:250px; border-radius:6%") %>
     <% end%>
   
     <div>
      <small>Group Created by  </small>  <b><%= group.user.user_name %> </b> 

       
     </div>
     <div>
      <small>Group Type :   </small> <b> <%= group.grouptype %> </b>

      </div>
        <div >
        <%= link_to "Show", user_group_path(current_user,group) , class: "btn btn-xs btn-success", style: "background-color:skyblue" %>
        
        <% x=group.users.where(id: current_user.id)%>
     
    
   
     <% if current_user != x[0]%>

       <%  if group.grouptype=='Public' %> 

       <%= link_to "Join this group", user_group_join_path(current_user,group_id: group.id),data: { turbo_method: :get, turbo_confirm: "Are you sure?" } , class: "btn btn-xs btn-success", style: "background-color:green"%>
       <% elsif group.grouptype=='Private' %>
         <%= link_to "Join this private group", user_group_joingroup_path(current_user,group_id: group.id) %>
       <% end %>
    


        <% else %>

         <%  if group.grouptype=='Public' %>
          Member
        <% elsif group.grouptype=='Private'  %>
         <% user_group = UserGroup.find_by(user_id:current_user.id, group_id: group.id).request  %>
          <% if user_group %>
             Member

          <% else %>

         Pending Request 


          <% end %>

      
        <% end %>
         



       
       <% end %>
       </div>
    </div>
  

  
    
    
    
    
<% end %>
</div>